<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello !</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora">
        <link rel="stylesheet" href="dist/style.css">
    </head>
    <body>
    <div id="hello">
        Bonjour, je suis <h1>Dorian Mongel</h1>, vous pourrez me retrouver sur la toile sur <a href="https://twitter.com/dorianmongel">twitter</a>, <a href="https://www.instagram.com/dorianmongel/">instagram</a>, <a href="https://unsplash.com/@_dorian_">unsplash</a> ou <a href="https://www.linkedin.com/in/dorianmongel/">linkedin</a>.
        On peut également se voir autour d'un café à l'<strong><a href="https://www.hiboost.fr">agence hiboost</a></strong>.
    </div>