<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello !</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora">
        <link rel="stylesheet" href="themes/dracula/style.css">
        <link rel="icon" type="image/png" sizes="16x16"  href="themes/dracula/img/favicon-16x16.png">
    </head>
    <body>

    <header>
        <strong>Hello !</strong>
        <form method="get" target="_self">
            <input type="text" name="s" id="search" placeholder="Rechercher..." />
        </form>
    </header>
    <div id="hello">
        Bonjour, je suis <h1>Dorian Mongel</h1>, vous pourrez me retrouver sur la toile sur <a href="https://twitter.com/dorianmongel">twitter</a>, <a href="https://www.instagram.com/dorianmongel/">instagram</a>, <a href="https://unsplash.com/@_dorian_">unsplash</a>, <a href="https://github.com/dorianmongel">GitHub</a> ou <a href="https://www.linkedin.com/in/dorianmongel/">linkedin</a>.<br />
        On peut également se voir autour d'un café à l'<strong><a href="https://www.hiboost.fr">agence hiboost</a></strong>.
    </div>
    <main>

